---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
// Import collections and layout components

export const prerender = true;

// Generate static paths for all pages in the 'pages' collection
export async function getStaticPaths() {
    const pages = await getCollection('pages');
    return pages.map((page) => ({
        params: { slug: page.slug },
        props: { page }
    }));
}

type Props = { page: CollectionEntry<'pages'> };

const { page } = Astro.props;
const { title, seo } = page.data;
const { Content } = await page.render();
---

<BaseLayout title={seo?.title ?? title} description={seo?.description} image={seo?.image} showHeader={false}>
    <article class="mb-10 sm:mb-16">
        <!-- Page Header -->
        <header class="mb-6">
            <h1 class="text-2xl leading-tight font-serif sm:text-3xl italic mb-3 sm:leading-tight">{title}</h1>
            {
                seo?.description && page.slug !== 'home' && (
                    <h2 class="mb-8 text-[rgb(var(--color-text-secondary))] sm:mb-10 text-xs sm:text-sm leading-normal pb-4 border-b border-solid border-main w-full">
                        {seo.description}
                    </h2>
                )
            }
        </header>
        <!-- Page Content -->
        <div class="max-w-none prose prose-dante sm:prose-lg">
            <Content />
        </div>
    </article>
</BaseLayout>