---
import siteConfig from '../data/site-config';
import '../styles/global.css';
import '../styles/fonts.css';

export type Props = {
    title?: string;
    description?: string;
    image?: { src: string; alt?: string };
    pageType?: 'website' | 'article';
};

const { 
    description, 
    image = siteConfig.image, 
    pageType = 'website',
} = Astro.props;

// Ottieni il pathname corrente
const pathname = new URL(Astro.request.url).pathname;
const isHome = pathname === '/';

// Logica del titolo per homepage e altre pagine
const title = isHome 
    ? "Filippo Danesi \ SEO Strategist, AI Specialist"
    : Astro.props.title 
        ? `${Astro.props.title} \ Filippo Danesi` 
        : siteConfig.title;

// Logica della description per homepage e altre pagine
const pageDescription = isHome 
    ? "SEO with over five years of experience in technical SEO and content strategy. Expertise in improving organic visibility and delivering data-driven results."
    : description || siteConfig.description;

const resolvedImage = image?.src
    ? {
          src: new URL(image.src, Astro.site).toString(),
          alt: image.alt
      }
    : undefined;
const canonicalURL = new URL(Astro.request.url, Astro.site);

/**
 * Enforce standard canonical URL formatting across the site.
 * - Removes the trailing slash if there are query parameters.
 * - Adds a trailing slash if there are no query parameters.
 */
function formatCanonicalURL(url: string | URL) {
    let path = url.toString();
    const hasQueryParams = path.includes('?');
    if (hasQueryParams) {
        path = path.replace(/\/$/, '');
    } else {
        path = path.endsWith('/') ? path : `${path}/`;
    }
    return path;
}
---

<!-- High Priority Global Metadata -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="max-image-preview:large">
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{title}</title>
<meta name="generator" content={Astro.generator} />

<!-- Google Analytics -->
<!-- GA Script Tag -->
<script 
    type="text/plain"
    data-category="analytics"
    data-service="Google Analytics"
    src="https://www.googletagmanager.com/gtag/js?id=G-G5MCMEX52M"
    crossorigin="anonymous">
</script>

<!-- GA Configuration -->
<script 
    type="text/plain"
    data-category="analytics"
    data-service="Google Analytics">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-G5MCMEX52M');
</script>

<!-- Cleanup script (optional) -->
<script 
    type="text/plain"
    data-category="analytics"
    data-service="!Google Analytics">
    window['ga-disable-G-G5MCMEX52M'] = true;
</script>

<!-- Low Priority Global Metadata -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Page Metadata -->
<link rel="canonical" href={formatCanonicalURL(canonicalURL)} />
<meta name="description" content={pageDescription} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={pageType} />
<meta property="og:url" content={formatCanonicalURL(canonicalURL)} />
<meta property="og:title" content={title} />
<meta property="og:description" content={pageDescription} />
{resolvedImage?.src && <meta property="og:image" content={resolvedImage.src} />}
{resolvedImage?.alt && <meta property="og:image:alt" content={resolvedImage.alt} />}

<!-- X/Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={formatCanonicalURL(canonicalURL)} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={pageDescription} />
{resolvedImage?.src && <meta property="twitter:image" content={resolvedImage.src} />}
{resolvedImage?.alt && <meta name="twitter:image:alt" content={resolvedImage?.alt} />}
